
* { padding: 0; margin: 0; }

html {
    overflow-y: scroll;
}

body {
    color: #000;
    text-shadow: none;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 11px;
    letter-spacing: 0.025em;
    background: url("https://b.thumbs.redditmedia.com/9flhTbiBP0zzS5jWO-Lgoccvn5l39oddJsccSU0Igsc.png") #e7d9bd no-repeat center center fixed;
    background-size: cover;
}

.fl { float: left; }
.fr { float: right; }
.clearfix:before,.clearfix:after, .cf:before, .cf:after {content:"";display:table;}
.clearfix:after, .cf:after {clear:both;}
.clearfix, .cf {zoom:1;}
.hide { display: none !important; }

.wrapper {
    width: 100%;
    max-width: 900px;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    box-sizing: border-box;
}

.wrapper:not(.no-style) {
    padding: 10px;
    border:3px solid #000;
}
.wrapper.no-margin {
    margin-top: 0;
}
.wrapper.no-pad, .wrapper.no-pad:not(.no-style) {
    padding: 0;
}

#flair-choices {
    width: 93%;
    margin: auto;
}

.spacer {
    margin: 5px 0;
}

select, input[type=text], input[type=number] {
    border: 1px solid #c8ccd0;
    background: white;
    padding: 3px 4px;
    border-radius: 3px;
}

.center {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

label {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
}
label input[type=checkbox] + span {
    margin-left: 5px;
}

#subreddit-selection {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
#subreddit-selection .sr-sep {
    display: inline-block;
    margin: 0 10px;
    color: rgba(0,0,0,0.2);
    font-size: 14px;
    line-height: 14px;
    height: 14px;
}

#flair-filter {
    margin-bottom: 10px;
    padding: 0 30px 0 10px;
}

#flair-filter-text {
    min-width: 240px;
    padding: 5px 10px;
    background-color: transparent;
}

#flair-filter label[for=flair-filter-sheet] {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
}

#flair-filter label[for=flair-filter-category] span {
    font-size: 13px;
    margin-right: 5px;
}

@media (max-width: 600px) {
    #flair-filter {
        flex-direction: column;
    }

    #flair-filter label[for=flair-filter-sheet] {
        margin-top: 4px;
    }
}

#flair-filter-category {
    height:30px;
    background-color: transparent;
}

#flair-filter-category option {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #faf3da;
}

/* HELP STUFF
--------------------------------------------------------------------------------*/
a {
    display: inline-block;
    margin-bottom: 5px;
    text-decoration: none;
    color:#e7523e;
}

a:hover {
    text-decoration: underline;
}

a#help-link {
    font-size: 24px;
}

#help-bubble.hide + .wrapper {
    margin-top: 0;
}

#help-bubble {
    font-size: 13px;
}

#help-bubble p {
    margin: 0.5em 0;
}

/* BUTTON
--------------------------------------------------------------------------------*/
button, input[type=submit] {
    display: inline-block;
    margin: 0;
    padding: 0 8px 1px;
    color: #ffd09a;
    font-size: large;
    line-height: 26px;
    cursor: pointer;
    border: 0;
    background: none;
    box-shadow:none;
    border-radius: 0px;
    background-color: #000;
    font-family: "Times New Roman", Georgia, Serif;
}

/* FLAIRS
--------------------------------------------------------------------------------*/

.flair {
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    width: 90px;
    height: 30px;
    cursor: pointer;
    position: relative;
}
.flair:not([class*='flair-']) {
    background: rgba(0,0,0,0.03);
    border-radius: 3px;
}
.flair:not([class*='flair-']):before {
    content: '?';
}

.flair {
    background-color: transparent
}
